body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('img/letters.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img{
  height: 200px;
}
.heart-red{
  color: red;
}
.heart-black{
  color: black;
}